---
import { getCollection } from "astro:content";
import MainLayout from "@layouts/MainLayout.astro";

export async function getStaticPaths() {
  const insightsEntries = await getCollection("insights");
  return insightsEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<MainLayout title={`${entry.data.title} | AP Consulting`}>
  <article class="max-w-3xl mx-auto px-4 py-12">
    <div class="mb-6">
      <button
        id="back-button"
        type="button"
        class="inline-flex items-center px-4 py-2 bg-gray-100 text-gray-700 rounded-md hover:bg-gray-200 transition"
      >
        ← Volver
      </button>
    </div>
    <div class="mb-4">
      <span class="text-sm font-semibold text-indigo-600 uppercase"
        >{entry.data.category}</span
      >
    </div>

    <h1 class="text-4xl font-bold mb-4 text-gray-900">{entry.data.title}</h1>

    {
      entry.data.excerpt && (
        <p class="text-lg text-gray-600 mb-6">{entry.data.excerpt}</p>
      )
    }

    <div class="prose prose-indigo max-w-none mb-10">
      <Content />
    </div>

    <div class="flex flex-wrap gap-2 mb-6">
      {
        entry.data.tags?.map((tag) => (
          <span class="bg-gray-200 text-gray-800 text-xs font-medium px-2 py-1 rounded">
            #{tag}
          </span>
        ))
      }
    </div>

    {
      entry.data.source && (
        <p class="text-sm text-gray-500">
          Fuente:{" "}
          <a
            href={`${entry.data.link}`}
            target="_blank"
            rel="noopener noreferrer"
            class="text-indigo-600 hover:underline"
          >
            {entry.data.source}
          </a>
        </p>
      )
    }
  </article>
  <script>
    const buttons = document.querySelectorAll("button#back-button");

    buttons.forEach((button) => {
      button.addEventListener("click", () => {
        history.back();
      });
    });
  </script>
</MainLayout>
